/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* basic */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1235px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .2s ease;
}

.header-scroll{
  background: #fff;
}

.headerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.headerContent ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.headerContent ul .menu-item:not(:last-child){
  margin-right: 40px;
}

.headerContent ul .menu-item a{
  position: relative;
  color: #fff;
}

.header-scroll ul .menu-item a{
  color: #000;
}

.headerContent ul .menu-item a:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.header-scroll ul .menu-item a:after{
  background: #000;
}

.headerContent ul .menu-item a:hover:after{
  width: 100%;
}

.sing-link a{
  padding: 10px 30px;
  text-transform: uppercase;
  background: #3f51b5;
  border-radius: 20px;
  color: #fff;
}

/* video sec */
.video-sec{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-sec video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.video-sec-text{
  text-align: center;
}

.video-sec-text h1{
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.video-sec-text p{
  color: #fff;
  font-size: 27px;
}

/* scroll mouse */
.scroll-downs {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* about sec */
.about-sec{
  height: 500vh;
  margin-top: 50px;
}

.about-sec-text h2{
  font-size: 76px;
  margin-top: 0;
}

.about-sec{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}