/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* basic */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1235px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.headerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.headerContent ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.headerContent ul .menu-item:not(:last-child){
  margin-right: 20px;
}

.headerContent ul .menu-item a{
  position: relative;
  font-weight: 600;
}

.headerContent ul .menu-item a:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.headerContent ul .menu-item a:hover:after{
  width: 100%;
}

.sing-link a{
  padding: 10px 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3f51b5;
  background: none;
  border: 1px solid #3f51b5;
  overflow: hidden;
  transition: 0.8s ease-out;
  position: relative;
  z-index: 0;
}

.sing-link a:before {
  content: '';
  position: absolute;
  background: #3f51b5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  transition: top .3s ease-out;
  z-index: -1;
}

.sing-link a:hover {
  color: #fff;
}

.sing-link a:hover::before {
  top: 0;
}