/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* basic */
a{
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

/* block */
.container{
  max-width: 1235px;
  margin: 0 auto;
  padding: 0 15px;
}

.sec-wrap{
  margin: 100px 0;
}

/* text */
.text-block h2{
  font-size: 76px;
  margin-top: 0;
}

/* header */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .2s ease;
}

.header-scroll{
  background: #fff;
}

.headerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.menu-wrap ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-wrap ul .menu-item{
  margin-right: 40px;
}

.menu-wrap ul .menu-item a{
  position: relative;
  color: #fff;
  cursor: pointer;

}

.header-scroll ul .menu-item a{
  color: #000;
}

.menu-wrap ul .menu-item a:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.header-scroll ul .menu-item a:after{
  background: #000;
}

.menu-wrap ul .menu-item a:hover:after{
  width: 100%;
}

.sing-link a{
  padding: 10px 30px;
  text-transform: uppercase;
  background: #3f51b5;
  border-radius: 20px;
  color: #fff;
}

.menu-btn{
  display: none;
  padding: 10px;
  border: 0;
  background: transparent;
}

/* video sec */
.video-sec{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-sec video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.video-sec-text{
  text-align: center;
}

.video-sec-text h1{
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.video-sec-text p{
  color: #fff;
  font-size: 27px;
}

/* scroll mouse */
.scroll-downs {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width :34px;
  height: 55px;
}
.mouse {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  cursor: pointer;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* about sec */
.about-sec{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}

/* download sec */
.dow-item-wrap{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* download item */
.dow-item{
  background: #000;
}

.dow-item:not(:last-child){
  border-right: 1px solid rgba(216,216,216,.2);
}

/* download image */
.dow-item-img{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .7s;
}

.dow-item:hover .dow-item-img{
  opacity: 1;
}

/* download-text */
.dow-item-text-wrap{
  height: 600px;
  padding: 50px;
}

.dow-item-text h3{
  font-size: 34px;
  color: rgba(255,255,255,.44);
  transition: all .4s;
}

.dow-item:hover .dow-item-text h3{
  color: #fff;
}

.dow-item-text p{
  color: #fff;
  transition: all .4s;
  opacity: 0;
  height: 0;
}

.dow-item:hover .dow-item-text p{
  opacity: 1;
  height: 100%;
  margin-bottom: 50px;
}

.dow-item-text a{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 20px 30px;
  transition: all .4s;
  opacity: 0;
  height: 0;
}

.dow-item-text a:hover{
  color: #000;
  border: 1px solid #000;
  background: #fff;
}

.dow-item:hover .dow-item-text a{
  opacity: 1;
  height: 100%;
}

/* footer */
.footer{
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.footerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerContent ul{
  list-style: none;
  display: flex;
}

.footerContent ul li{
  cursor: pointer;
}

.footerContent ul li:not(:last-child){
  margin-right: 20px;
}

/* tablet */
@media(max-width: 768px){
  /* header */
  .headerContent ul .menu-item {
    margin-right: 10px;
  }

  .sing-link a {
    padding: 10px 20px;
  }

  .about-sec{
    grid-template-columns: repeat(1, 1fr);
  }
  /* download */
  .dow-item-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .dow-item{
    border-right: 1px solid rgba(216,216,216,.2);
    border-bottom: 1px solid rgba(216,216,216,.2);
  }
  
}

/* mobile */
@media(max-width: 425px){
  /* basic */
  .sec-wrap {
    margin: 50px 0;
  }

  .text-block h2 {
    font-size: 45px;
  }

  .menu-wrap{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left .5s;
  }

  .menu-wrap.menu-open{
    left: 0;
  }

  .menu-wrap ul{
    display: block;
    text-align: center;
  }

  .headerContent ul .menu-item{
    margin-right: 0;
    margin-bottom: 20px;
  }

  .menu-wrap ul .menu-item a{
    color: #000;
  }

  .menu-btn{
    display: block;
  }

  /* about */
  .about-sec {
    grid-gap: 20px;
  }

   /* download */
  .dow-item-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .dow-item-img{
    height: 200px;
  }

  .dow-item-img img{
    width: 100px;
    height: 100px;
  }

  .dow-item-text-wrap{
    height: 400px;
  }

  /* footer */
  .footerContent,
  .footerContent ul{
    display: block;
  }

  .footerContent{
    text-align: center;
  }

  .footerContent ul{
    padding: 0;
    margin-bottom: 0;
  }

  .footerContent ul li:not(:last-child){
    margin-right: 0;
    margin-bottom: 10px;
  }
}